/*Los comentarios con barra y asterico*/

/*El asterisco * le añade los estilos a toda la pagina: 
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*/
*{
    font-family: fantasy;
}

body{
   
    background-color: hsla(263, 24%, 74%, 0.843);
    background-image: url("../img/loro.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment:
    background-size: cover;
}
.izquierda{
    text-align: left;
    color:rgb(85, 130, 18);
}
.my-header{
    color:rgb(209, 229, 150);
}

.texto-centrado{
    text-align: center;
    color: #ffffff;
}
.bloque-centrado{
    width: 75%;
    /*para centrar un bloque de forma horizontal div header footer section*/
    margin: auto;
    /*borde tiene 3 o mas propiedades: ancho del border, la forma, el color*/
    /*Ejemplo de borde con atributos valor independientes
    border-width: 2px;
    border-style: inherit;
    border-color:antiquewhite;
    Poner borde con tods los valores en una sola linea
    border: 2px solid black*/

    border-top: 30px inset #ecf027;
    border-bottom: 30px solid rgb(241, 238, 69);
    border-left: 5px groove rgb(239, 231, 170);
    border-right: 10px inset rgb(240, 238, 212);
    background-color: rgba(255, 255, 255, 0.219);

    /*Hacer que las esquinas esten redondeadas, van en sentido agujas de reloj*/
    border-radius: 25px 0px 25px 0px;
}
.parrafo-borde-izq{
    color: #ffffff;
    border-left: 8px solid rgb(231, 185, 19);
}
.bloque-centrado-sborde{
    width: 75%;
    margin: auto;
    color: #000000;
}
.bloque-opaco{
    background-color: hsla(60, 41%, 68%, 0.603);
    color: #ffffff;
    /*opacity: 0.5;*/
}
.bloque{
    width: 250px;
    height: 250px;
    background-image: url("../img/oveja-sin-fondo.png");
    background-size: cover;
    border: 2px solid yellow;
    margin: 25px auto;
    opacity: 0.8;
}
.boton{
    width: 250px;
    padding: 10px 30px;
    margin: 25px;
    color: rgb(255, 255, 255);
    background-color: #3d3d3d;
}
.ex2 {
    width: 300px;
    padding: 55px 50px;
    height: 200px;
    background-color: rgb(1, 143, 190);
}
.ancho-largo{
    margin: 50px;
    max-width: 250px;
    height: 250px;
    background-color: rgb(236, 204, 77);
    color: #cd1515;
    border: 5px solid white;
    padding: 10px;
    outline: 1px solid red;
    outline-offset: 10px;
    text-align: right;
}
.texto{
    text-align: justify;


}
.texto-resaltado{
    text-decoration: underline overline;
    color: #ffffff;
}
.estilo-enlaces{
    text-decoration: none;
    color: #ff9d00;
    background-color: rgb(244, 251, 249);
}